.task-details-modal-container{
    z-index: 9997;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100%;
    align-items: center;
    opacity: 0;
    animation: showTaskContainer 150ms ease forwards;
    overflow: auto;
}

.task-details-modal-container .task-details-modal {
    background-color: #F3F3F3;
    position: relative;
    top: 50px;
    width: 800px;
    box-sizing: border-box;
    padding: 20px 40px;
    border-radius: 5px;
    animation: bringModalTaskDown 150ms ease forwards;
    margin-bottom: 50px;
}   

.task-details-modal header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.task-details-modal header .task-header-informations{
    display: flex;
    flex-direction: column;
}

.task-details-modal header .task-header-informations .task-title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 3px 5px;
}

.task-details-modal header .task-header-informations .task-title.focused{
    background-color: #E0E0E0;
}

.task-details-modal header .task-header-informations .task-title input{
    display: flex;
    flex: 1;
}

.task-details-modal header .task-header-informations .task-title h1{
   
}

.task-details-modal header .task-header-informations h1,
.task-details-modal header .task-header-informations input{
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.task-details-modal header .task-header-informations span{
    font-size: 12px;
    color: #979797;
}

.task-details-modal header .button-close-task-modal{
    font-size: 20px;
}

.task-details-modal header .button-close-task-modal span .icon{
    pointer-events: none;
}
.task-details-modal header .button-close-task-modal span .icon path{
    color: var(--btn-red);
    transition: 150ms;
}

.task-details-modal header .button-close-task-modal span:hover .icon path{
    color: var(--btn-red-h);
}

.task-details-modal .task-row-detail{
    display: flex;
    flex-direction: row;
}

.task-details-modal .task-members .member-avatar{
    display: inline-block;
    margin-left: 5px;
}

.task-details-modal .task-members .member-avatar img{
    width: 30px;
    border-radius: 100px;
    border: 2px solid gray;
}

.task-details-modal .date-field{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #263238;
}

.task-details-modal .tags-list .tag{
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    background-color: gray;
    margin-left: 10px;
    padding: 11px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 100px;
    text-transform: uppercase;
}

.task-details-modal .message-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task-details-modal .new-message-box{
    display: flex;
    flex-direction: column;
}

.task-details-modal .new-message-box .new-message{
    height: 42px;
    margin-bottom: 5px;
    transition: 300ms;
}

.task-details-modal .new-message-box.focused .new-message{
    height: 80px;
    background-color: #FFF;
    /* border: 2px solid #313131; */
}

.task-details-modal .new-message-box .new-message-footer{
    display: flex;
    opacity: 0;
    flex-direction: row;
    align-items: flex-start;
    transition: 300ms;
    height: 0;
    overflow: hidden;
}

.task-details-modal .new-message-box.focused .new-message-footer{
    display: flex;
    opacity: 1;
    height: 50px;
}

.task-details-modal .new-message-box .new-message-footer a{
    color: var(--text-dark);
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
}

.task-details-modal .messages-list{
    margin-top: 20px;
    
}

.task-details-modal .messages-list ul li{
    list-style: none;
    margin-top: 10px;
    
}

.task-details-modal .message-body-container{
    display: flex;
    flex-direction: row;
}

.task-details-modal .message-body-container .user-avatar{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    margin-right: 10px;    
}

.task-details-modal .message-body-container .user-avatar img {
    width: 50px;
    border-radius: 100px;
}

.task-details-modal .message-body-container .message-body {
    width: 100%;
}

.task-details-modal .message-body-container .message-body header {

    font-size: 12px;
    color: #b8b8b8;
}

.task-details-modal .message-body-container .message-body div .message {
    white-space: pre-line;
    background-color: #e9e9e9;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
}

.task-details-modal .message-body-container .message-body div textarea{
    
}

.task-details-modal .message-body-container .message-body footer a {
    font-weight: bold;
    margin-right: 5px;
    font-size: 14px;
    color: var(--text-dark);
    transition: 150ms;
}

.task-details-modal .message-body-container .message-body footer a.edit-button:hover {
    color: var(--text-blue);
}

.task-details-modal .message-body-container .message-body footer a.delete-button:hover {
    color: var(--text-red);
}

@keyframes showTaskContainer{
    from{
        
    }to{
        opacity: 1;
    }
}

@keyframes bringModalTaskDown{
    from{

    }to{
        top: 100px;
    }
}