.task-details-modal-container{
    z-index: 9997;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.24);
    width: 100%;
    height: 100%;
    align-items: center;
    opacity: 0;
    animation: showTaskContainer 150ms ease forwards;
    overflow: auto;
}

.task-details-modal-container .task-details-modal {
    background-color: #F3F3F3;
    position: relative;
    top: 50px;
    width: 800px;
    box-sizing: border-box;
    padding: 20px 40px;
    border-radius: 5px;
    animation: bringModalTaskDown 150ms ease forwards;
}   

.task-details-modal header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 20px;
}

.task-details-modal header .task-header-informations{
    display: flex;
    flex-direction: column;
}

.task-details-modal header .task-header-informations h1{
    font-size: 20px;
    font-weight: bold;
}

.task-details-modal header .task-header-informations span{
    font-size: 12px;
    color: #979797;
}

.task-details-modal header .button-close-task-modal{
    font-size: 20px;
}

.task-details-modal header .button-close-task-modal span .icon{
    pointer-events: none;
}
.task-details-modal header .button-close-task-modal span .icon path{
    color: var(--btn-red);
    transition: 150ms;
}

.task-details-modal header .button-close-task-modal span:hover .icon path{
    color: var(--btn-red-h);
}

.task-details-modal .task-row-detail{
    display: flex;
    flex-direction: row;
}

.task-details-modal .task-members .member-avatar{
    display: inline-block;
    margin-right: 3px;
}

.task-details-modal .task-members .member-avatar img{
    width: 30px;
    border-radius: 100px;
    border: 2px solid gray;
}

.task-details-modal .date-field{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    color: #263238;
}

.task-details-modal .tags-list .tag{
    text-align: center;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    background-color: gray;
    margin-right: 10px;
    padding: 11px 15px;
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 100px;
    text-transform: uppercase;
}

@keyframes showTaskContainer{
    from{
        
    }to{
        opacity: 1;
    }
}

@keyframes bringModalTaskDown{
    from{

    }to{
        top: 100px;
    }
}