.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    
}

.main-container .inner-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

/* HEADER */
.page-header {
    background-color: #112D4E;
    width: 100%;
    height: 56px;
    color: var(--text-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.page-header .new-task{
    width: 138px;
    padding: 8px 0;
}

.page-header .signout{
    font-size: 24px;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
}

.page-header .signout .icon{
    position: relative;
    left: 3px;
    top: 3px;
}

.page-header .signout:hover{
    background-color: var(--btn-red-h);
}