.modal-container{
    z-index: 9998;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0;
    justify-content: center;
    align-items: center;
}

.modal-container.show{
    display: flex;
    animation: showModal 150ms ease forwards;
    
}

.modal-container .modal{
    z-index: 2;
    background-color: #FFF;
    width: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.151);
    box-sizing: border-box;
    padding: 20px 10px;
    position: relative;
    top: -50px;
    transform: scale3d(1, 1, 1);
}

.modal-container.show .modal{
    animation: downModal 150ms ease forwards;
}

.modal-container .modal header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
}

.modal-close{
    font-size: 24px;
}

.modal-close:hover .icon path{
    color: var(--btn-red);
}

.modal-close .icon path{
    color: var(--text-light);
    transition: 150ms;
}

.modal .modal-message{
    text-align: justify;
    padding: 10px 0;
    font-size: 14px;
}

@keyframes showModal{
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes downModal{
    from{
        
    }
    to{
        top: 0;
    }
}