.select-list {
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; */
    display: block;
    border: none;
    background-color: #EEEEEE;
    font-size: 14px;
    width: 203px;
    font-weight: normal;
    border-radius: 5px;
    padding: 0px 10px !important;
    height: 33px;
}
