.content-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;

}

.sidebar-filters{
    background-color: #F9F7F7;
    min-width: 200px;
    max-width: 200px;
    position: relative;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;    
    overflow: hidden;
}