.inputContainer{
    display: flex;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
}

.inputContainer .iconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0px !important;
}

.iconContainer .icon path{
    color: var(--text-light);
}

.inputContainer input{
    position: relative;
    display: inline-block;
    flex-grow: 1;
    border: none;
    font-size: 14px;
    max-width: calc(100% - 50px);
}

.inputContainer,
.inputContainer input{
    background-color: #EEEEEE;
    
}