@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');


:root{
    
    /* TEXTS */
    --text-dark: #263238;
    --text-light: #D7D7D7;

    /* BUTTONS */
    --btn-green:   #00ADB5;
    --btn-green-h: #008b92;
    --btn-blue: #005792;
    --btn-blue-h: #014674;
    --btn-red: #FF1E56;
    --btn-red-h: #d11947;
    --btn-yellow: #e9d520;
    --btn-yellow-h: #cfbd18;

    /* LINKS */
    --link: #00ADB5;
    --link-h: #008b92;

    --radius: 5px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* FONT */
    font-family: 'Open Sans', sans-serif;
    color: var(--text-dark);
    outline: none;
}

html, body, #root{
    width: 100%;
    height: 100vh;
}

a{
    text-decoration: none;
    color: var(--link);
    transition: 200ms;
}

a:hover{
    color: var(--link-h);
}

.icon path{
    color: #FFF;
}

